/* @import url(https://fonts.googleapis.com/css?family=Open+Sans); */


/* body {
    background: #ddd;
    background: linear-gradient(#ddd, #e8e8e8);
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    margin:0;
}

.thumb {
    width: 400px;
    height: 300px;
    margin: 70px auto;
    perspective: 1000px;
}

.thumb a {
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
		url("https://d13yacurqjgara.cloudfront.net/users/269311/screenshots/1508393/the_optimist_lives_on_by_huanle-d6yprp1_o_1x.jpg");
    background-size: 0, cover;
    transform-style: preserve-3d;
    transition: all 0.5s;
    animation:
        setAnimation 20s cubic-bezier(0.5, 0.79, 0.45, 1.01) infinite alternate; 
    
}

@keyframes setAnimation{
    0%{
        background: #8DE0E3;
    }
    20%{
        background:#E3B28D;
    }
    40%{
        background: #E38D8D;
    }
    60%{
        background: #E3E38D;
    }
    80%{
        background: #AE8DE3;
    }
    100%{
        background: #E3DD8D;
    }
}


#anh{
    width:400px;
    height: 300px;
    
}
.thumb:hover a {
    transform: rotateX(80deg);
    transform-origin: bottom;
}
.thumb a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 36px;
    background: inherit;
    background-size: cover, cover;
    background-position: bottom;
    transform: rotateX(90deg);
    transform-origin: bottom;
}
.thumb a span {
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    font: bold 12px/36px "Open Sans";
    text-align: center;
    transform: rotateX(-89.99deg);
    transform-origin: top;
    z-index: 1;
    text-shadow:5px 5px 5px #000000;
    background: #827979;
    height: 50px;
    line-height:50px;
}
.thumb a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
    opacity: 0.15;
    transform: rotateX(95deg) translateZ(-80px) scale(0.75);
    transform-origin: bottom;
}

.thumb:hover a:before {
    opacity: 1;
    box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
    transform: rotateX(0) translateZ(-60px) scale(0.85);
}

#anh{
    width: 200px;
    height: 200px;
    margin: 50px 100px;
}
header{
    background: #333;
    padding: 10px;
    animation:
        setAnimation 20s cubic-bezier(0.5, 0.79, 0.45, 1.01) infinite alternate; 
}
header h1{
    color: #fff;
    font-size: 15px;
    text-shadow:5px 5px 5px rgb(13, 12, 12);
}
@keyframes setAnimation{
    0%{
        background: #8DE0E3;
    }
    20%{
        background:#E3B28D;
    }
    40%{
        background: #E38D8D;
    }
    60%{
        background: #E3E38D;
    }
    80%{
        background: #AE8DE3;
    }
    100%{
        background: #E3DD8D;
    }
}

*{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
} */




*{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
}

/* body{
    font-family: -apple-system, BlinkMacSystemFont,"Helvetica Neue","Segoe UI","Roboto","ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ã‚·ãƒƒã‚¯","Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
    box-sizing: border-box;
    
} */
body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, #E3E38D, #AE8DE3);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
html, body{
    width: 100%;
    height: 100%;
}

header{
    background: #333;
    padding: 10px;
}
header h1{
    color: #fff;
    font-size: 20px;
}

main .animation{
    width:800px;
    height:800px;
    /* border-radius: 100%; */
    margin: auto;
    animation:
        setAnimation 20s cubic-bezier(0.5, 0.79, 0.45, 1.01) infinite alternate,
        nudge 5s linear infinite alternate;     
}

main .animation p{
    color:#fff;
    font-family: 'swald',sans-serif;
    font-size: 50px;
    text-align: center;
    height: 200px;                          
    line-height:15;
    text-shadow:5px 5px 5px #333;
}

.btn{
    margin: auto;
    width: 50%;
    height: 400px;
    background: #ff6347;
    float: left;
    position: relative;
}
.btn a{
    color: white;
    width: 70%;
    height: 60px;
    line-height: 60px;
    font-size: 2rem;
    margin: auto;
    border: 1px solid rgb(255, 255, 255);
    display:block;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    text-shadow:5px 5px 5px #333;

}
.btn a:hover{
    background: #fff;
    color:#ff6347;
    transition: ease-in 0.3s;
    -moz-transform: ease-in 0.3s;
    -webkit-transform: ease-in 0.3s;
}

.btnLink{
    margin: auto;
    width: 50%;
    height: 400px;
    background:#8DE0E3;
    float: left;
    position: relative;
}
.btnLink a{
    color: white;
    width: 70%;
    height: 60px;
    line-height: 60px;
    font-size: 2rem;
    margin: auto;
    border: 1px solid rgb(255, 255, 255);
    display:block;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    text-shadow:5px 5px 5px #333;
}    

.btnLink:hover{
    background: #f175c8;
    transition: ease-in 0.3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
}

.btnLink a::after{
    content: '';
    background-image: url(../img/03_icon_arrow.png);
    background: red;
}



a:link,a:visited{
    text-decoration: none;
}

.animation:hover p{
    /* transform: rotateX(80deg); */
    /* transform-origin: bottom; */
    
}

@keyframes setAnimation{ 
    0%{
        background: #8DE0E3;
    }
    20%{
        background:#E3B28D;
    }
    40%{
        background: #E38D8D;
    }
    60%{
        background: #E3E38D;
    }
    80%{
        background: #AE8DE3;
    }
    100%{
        background: #E3DD8D;
    }

}
@keyframes nudge{
    0%,100%{
        transform: translate(0, 0);
    }
    50%{
        transform: translate(500px,0);
    }
    100%{
        transform: translate(-500px, 0);
    }
}

